{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static%}

{% block content %}
{{block.super}}
{% include 'navbar.html' %}
<div class="container" id="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <a href="#" class="nav-link user-action" >
                        <img
                            src="{{user.profile.profile_pic.url}}" style="height: 65px;width: 65px; border-radius: 100%;">
                           
                    </a>
                    <br> <br> 
                    
                </div>
                <img class="card-img-top img-responsive" src="{{image.image.url}}">
                <br> <br> 
                <div class="card-body">
                    <form action="{% url 'like_image' image.pk %}" method="post">
                        {%csrf_token%}
                        <button class="btn btn-default btn-sm"  type="submit" name="image_id"
                            value="{{ image.id }}"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
                    </form>
                    <p>{{image.likes}} - likes</p>
                    <p class="card-text">{{image.caption}}</p>
                    <div class="comment ml-4">
                        {% for comment in image_comments %}
                        <hr>
                        <small>{{comment.comment}}</small>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <hr>
            <form method="post" enctype="multipart/form-data">
                {%csrf_token%}

                {% bootstrap_form form%}
                <input type="submit" value="Post">
            </form>
        </div>

    </div>
</div>
{% endblock %}