{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content%}
{{block.super}}
{% include 'navbar.html' %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

{% endblock %}



<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <div class="jumbotron">
            {% for profile in profiles %}
            
             <img src="{{user.profile.profile_pic}}" alt="" style="height: 55px; width: 55px; border-radius: 100%;">
            {% endfor %}
        </div>
        {% for image in images %}
        <div class="card">
            <img src="{{image.profile.profile_pic.url}}" alt="" id="prof">
            <h2 class="card-title" style="color: chocolate;"><strong>{{image.image_user}}</strong></h2>
            <hr>
            <img src="{{image.image.url}}" class="card-img-top" alt="..." height="500px" width="100%">
            <hr>
            <div class="card-body">
                <p class="card-text"></p>
                <hr>
                <h5>Image caption : {{image.image_caption}}</h5>
                <hr>
                <h5>Posted : {{image.post_date}}</h5>
                <a href="" class=""><strong>Posted by: </strong>{{image.user.user.username}}</a>
                <hr>
                <form action="{% url 'like_image' image.pk %}" method="post">
                    {%csrf_token%}
                    <button class="btn btn-default btn-sm"  type="submit" name="image_id"
                        value="{{ image.id }}"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
                </form>
                <p>{{image.likes}} - likes</p>
                <hr>
                <h6 class="text-center">comments</h6>
                {% for comment in all_comments %}
                <div class="comments ml-4">
                    {% if comment.image_id == image.id %}
                    <small><strong>{{comment.commenter}}: </strong>{{comment.comment}}</small>
                    <hr>
                    {% endif %}
                </div>      
        {% endfor%}
        <a href="{% url 'comment' image_id=image.id %}">Comment</a>
<br>
</div>
</div>
<br><br>
{% endfor %}
 </div>
<div class="col-md-4">
    <div class="row">
        <div class="column">
          <div class="cards">
            <h2 class="text-center">Insta-Age users</h2>
            {% for user in users%}
            <p>{{ user.username }}</p>
            {% endfor %}
           
          </div>
        </div>
</div>

</div>
{% endblock %}



    
  