{% load bootstrap3 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
{% endblock %}

<nav class="navbar navbar-inverse navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header text-centre">
            <a class="navbar-brand" href="/"
                style="font-family:  'Lobster', cursive; margin-left: 200px; font-size: 35px; margin-top: 10px;">Insta-Age</a>
        </div>
        <form class="navbar-form navbar-left" action="/action_page.php" style="margin-left: 200px; margin-top: 20px;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav" style="margin-left: 200px; margin-top: 10px;">
            <li class="active"><a href="#" id="icon"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#" id="icon"><span class="glyphicon  glyphicon-send glyphicon-lg"></span></a></li>
            <li><a href="#" id="icon"><span class="glyphicon glyphicon-time"></span></a></li>
            <li><a href="#" id="icon"><span class="glyphicon glyphicon-heart-empty"></span></a></li>
            
            {% if user.is_authenticated %}

                <li class="dropdown">
                    <a href="#"  data-toggle="dropdown"><img src="/static/images/Facebook (5).jpg" alt="" id="prof">
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{%url 'home'%}">Home</a>
                        </li>
                        <hr>
                        <li>
                            <a href="/accounts/password/change">Change Password</a>
                        </li>
                        <hr>
                        <li>
                            <a href="{% url 'new_post' %}">New Post </a>
                        </li>
                        <hr>
                        <li>
                            <a href="{% url 'profile' %}">View Profile</a>
                        </li>
                        <hr>
                        <li>
                            <a href="/accounts/logout/">Logout</a>
                        </li>
                       
                        
                    </ul>
                </li>
            </ul>
            {% else %}
            <li>
                <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}
    </div>
</nav>