{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img src="{{user.profile.profile_pic.url}}" alt="" id="prod">
        </div>
        <div class="col-md-8" id="inform">
            <p><strong>First Name :</strong>{{user.profile.first_name}}</p>
            <p><strong>Last Name :</strong>{{user.profile.last_name}}</p>
            <p><strong>Bio :</strong>{{user.profile.bio}}</p>
            <p><strong>followers :</strong></p>
            <p><strong>following :</strong></p>

        </div>

    </div>
    <br>
    <div><a href="{% url 'update_profile' %}" class="btn btn-info" id="butt">Edit Profile </a></div>
</div>
<div class="row">
    <h1 class="text-center">My Posts</h1>
    <div class="col-md-4">
        {% for image in images %}
<div class="card">
    <h2 class="card-title" style="color: chocolate;"><strong>{{image.image_user}}</strong></h2>
    <hr>
    <img src="{{image.image.url}}" class="card-img-top" alt="..." height="500px" width="100%">
    <hr>
    <div class="card-body">
        <p class="card-text"></p>
        <hr>
        <h5>Image caption : {{image.image_caption}}</h5>
        <hr>
        <h5>Posted : {{image.post_date}}</h5>
        <a href="" class=""><strong>Posted by: </strong>{{image.user}}</a>
        <hr>
        <form action="{% url 'like_image' image.pk %}" method="post">
            {%csrf_token%}
            <button class="btn btn-default btn-sm" type="submit" name="image_id" value="{{ image.id }}"><span
                    class="glyphicon glyphicon-thumbs-up"></span> Like</button>
        </form>
        <p>{{image.likes}} - likes</p>
        <hr>
        <h6 class="text-center">comments</h6>
        {% for comment in all_comments %}
        <div class="comments ml-4">
            {% if comment.image_id == image.id %}
            <small><strong>{{comment.commenter}}: </strong>{{comment.comment}}</small>
            <hr>
            {% endif %}
        </div>
        {% endfor %}
        {% endfor %}
        {% endblock %}

    </div>

</div>

        