h1{
    color: green;
}
.card{
    border: solid black 1px;
    padding-left: 7px;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;

}
.jumbotron{
    box-shadow: 5px 10px 8px 10px #888888;
    background-color: transparent;

}
/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }